header {
  text-align: right;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid;
  padding-bottom: 50px;
}

  .logo {
  margin: 10px;
  color: MediumAquamarine;
  }
        span {
            padding-left:  5px;
        }
nav {
   display: inline-block;
   text-align: center;
   min-width: 500px;
   word-spacing: 30px;
   padding-top: 20px;

}

img {
  position: absolute;
  left: 2px;
}
span {
  position: absolute;
  left: 80px;
  padding-top: 20px;
}

/*containter with image infomation*/



/*container with content information*/

.maincontainer {
   display: flex;
   justify-content: space-between;

}

.column-large {
width: 630px;
word-wrap: break-word;
}

.lead-story {
padding-top: 330px;
}

.stories {
display: flex;
}

.story1 {
flex: 1;
}
.story2 {
flex: 1;
}

.column-medium {
width: 300px;
order: 2px solid #000000;
word-wrap: break-word;

}
.story2-column2 {
padding-top: 300px;


}


.column-small {
width: 240px;
padding-top: 250px;
}
.story1-column3 {

}

.image-container {
    max-width: 600px;
   display: -webkit-flex;
   display: flex;
}


.imgContainer {
        width: 100%;
    }

.image-fallseason {

  max-width: 100%;
  position: absolute;
  bottom: 610px;
}

.image-cookie {
max-width: 100%;
position: absolute;
bottom: 630px;

  }

.image-catceo {
  max-width: 100%;
  position: absolute;
  bottom: 300px;
}





.footer {
margin: 10px;
color: MediumAquamarine;
padding-top: 50px;
}
